<%- include('../layout/head.ejs', { title: 'Orai Lietuvoje'}) %>
<%- include('../layout/header.ejs') %>
<%- include('../layout/nav.ejs') %>
<main>
    <div class="container">
        <select name="" id="">
        <% for (let region of regions_list) {%>
            <option><%= region %>:</option>
        <% } %>
        </select>
    </div>
</main>
<%- include('../layout/footer.ejs') %>